@model Entities.Concrete.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
    <meta charset="utf-8" />
    <title>Öğrenci Paneli</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">TC</th>
                <th scope="col">İsim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">1.Sınav</th>
                <th scope="col">2.Sınav</th>
                <th scope="col">3.Sınav</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => modelItem.Id)</th>
                <td>@Html.DisplayFor(modelItem => modelItem.Name)</td>
                <td>@Html.DisplayFor(modelItem => modelItem.Surname)</td>
                <td>@Html.DisplayFor(modelItem => modelItem.Exams[0])</td>
                <td>@Html.DisplayFor(modelItem => modelItem.Exams[1])</td>
                <td>@Html.DisplayFor(modelItem => modelItem.Exams[2])</td>
            </tr>

        </tbody>
    </table>
</body>
</html>
