@model Entities.DTOs.Adress

@{
    ViewData["Title"] = "Map2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    @if (ViewBag.error2)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Tc</strong> bilgisi yanlış yazıldı. Bu TC ye sahip öğrenci bulunmuyor
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @using (Html.BeginForm("Map2", "Chart", FormMethod.Post))
    {
        @Html.Label("Tc")
        @Html.TextBoxFor(x => x.Id, new { @id = "Id", @class = "form-control", @required = "required" })
        <br />
        @Html.Label("Enlem")
        @Html.TextBoxFor(x => x.Enlem, new { @id = "Enlem", @class = "form-control", @required = "required" })
        <br />
        @Html.Label("Boylam")
        @Html.TextBoxFor(x => x.Boylam, new { @id = "Boylam", @class = "form-control", @required = "required" })
        <br />


        <br />
        <button id="btn1" class="btn btn-info">Ekle</button>
        @*<div class="container">
                <input type="text" name="Id" id="Id" class="input100" required />
                <input type="text" name="Enlem" id="Enlem" class="input100" disabled required />
                <input type="text" name="Boylam" id="Boylam" class="input100" disabled required />


                <button type="submit" class="btn btn-info">Kaydet</button>

            </div>*@
    }

    <p id="demo">Koordinatlarınızı görmek için butona tıklayın:</p>
    <button onclick="getLocation()">Göster</button>

    <script>
        var x = document.getElementById("demo");
        var aa = document.getElementById("Enlem");
        var bb = document.getElementById("Boylam");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(showPosition);
            }
            else { x.innerHTML = "Tarayıcınız bu özelliği desteklemiyor."; }
        }
        function showPosition(position) {
            x.innerHTML = "Enlem: " + position.coords.latitude +
                "<br>Boylam: " + position.coords.longitude;
            aa.value = position.coords.latitude;
            bb.value = position.coords.longitude;
        }
    </script>
</body>
</html>